name: build

on:
  push:
    branches:
      - '**' # Run workflow when any branch is updated
    tags:
      - '*'  # Run workflow when any new tag is pushed
  pull_request:
    branches:
      - '**' # Run workflow for pull requests targeting any branch

permissions:
  contents: write
  id-token: write  # Required for OIDC

jobs:

  filter-vtags:
    uses: ./.github/workflows/is-vtag.yml

  tag-bump-commit:
    uses: ./.github/workflows/tag-bump-commit.yml
    needs: filter-vtags
    if: fromJSON(needs.filter-vtags.outputs.is_vtag || 'false') == false

  build:
    name: buildpush
    runs-on: ubuntu-latest
    needs: tag-bump-commit
    if: always() && fromJSON(needs.tag-bump-commit.outputs.did_tag || 'false') == false

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@main
        with:
          node-version: 20.x

      - name: Update npm
        run: npm install -g npm@latest

      - name: npm install
        run: npm ci --workspaces

      - name: build packages
        run: npm run build --workspaces

  buildvtag:
    name: buildvtag
    runs-on: ubuntu-latest
    needs: tag-bump-commit
    if: always() && fromJSON(needs.tag-bump-commit.outputs.did_tag || 'false') == true
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@main
        with:
          node-version: 20.x

      - name: Update npm
        run: npm install -g npm@latest

      - name: npm install
        run: npm ci --workspaces

      - name: build packages
        run: npm run build --workspaces

      - name: run publish script
        run: node ./scripts/release.js publish
        env:
          COMMIT_MESSAGE: ${{ github.event.head_commit.message }}